# --- DATABASE (Postgres Docker) ---
DATABASE_URL="postgresql://user:password@localhost:5433/db_name?schema=public"

# --- SERVER CONFIG ---
PORT=3333
NODE_ENV=dev || test || production
JWT_SECRET="changeit"